<div mat-dialog-content>
    <br/>
      <mat-card class="grid">
        <div class="item_a">
  
            <label class="form-field"> Sigla</label>
            <h3 class="form-field">{{course.courseId}}</h3>
  
            <label class="form-field">Nombre del curso</label>
            <h3 class="form-field">{{course.name}}</h3>
  
            <label class="form-field">Créditos</label>
            <h3 class="form-field">{{course.credits}}</h3>
  
            <label class="form-field">Nivel</label>
            <h3 class="form-field">{{course.level}}</h3>
  
            <label class="form-field">Cantidad de horas de teoría</label>
            <h3 class="form-field">{{course.hoursTheory}}</h3>
  
            <label class="form-field">Cantidad de horas práticas</label>
            <h3 class="form-field">{{course.hoursPractice}}</h3>
  
            <label class="form-field">Cantidad de horas en laboratorio</label>
            <h3 class="form-field">{{course.hoursLab}}</h3>
  
            <label class="form-field">Cantidad de horas teórico-práticas</label>
            <h3 class="form-field">{{course.hoursTheoryPractice}}</h3>
  
  
        </div>
  
        <div class="item_b">
            <label class="form-field"> Sigla</label>
            <h3 class="form-field">{{course.courseId}}</h3>
  
            <label class="form-field">Nombre del curso</label>
            <h3 class="form-field">{{course.name}}</h3>
  
            <label class="form-field">Créditos</label>
            <h3 class="form-field">{{course.credits}}</h3>
  
            <label class="form-field">Nivel</label>
            <h3 class="form-field">{{course.level}}</h3>
  
            <label class="form-field">Cantidad de horas de teoría</label>
            <h3 class="form-field">{{course.hoursTheory}}</h3>
  
            <label class="form-field">Cantidad de horas práticas</label>
            <h3 class="form-field">{{course.hoursPractice}}</h3>
  
            <label class="form-field">Cantidad de horas en laboratorio</label>
            <h3 class="form-field">{{course.hoursLab}}</h3>
  
            <label class="form-field">Cantidad de horas teórico-práticas</label>
            <h3 class="form-field">{{course.hoursTheoryPractice}}</h3>
        </div>
      </mat-card>
 
  </div>
  <div mat-dialog-actions class="grid2">
  
    <button class="closeBtn" mat-raised-button [mat-dialog-close]="valor1"
    color="warn" cdkFocusInitial>Cancelar</button>
      
  </div>