<br>

<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="slide" src="assets/img/Imagen1.png" alt="Random second slide" width="100%" height="700px">
            <div class="carousel-caption">
                <h5>Imagen 1</h5>
                <p>Imagen 2</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="slide" src="assets/img/chocolate.jpg" alt="Random second slide" width="100%" height="700px">
            <div class="carousel-caption">
                <h5>...</h5>
                <p>...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="slide" src="assets/img/spread.png" alt="Random second slide" width="100%" height="700px">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    <br>
        

    <mat-divider></mat-divider>

    <div class="row">
        <div class="container-padding">
            <br>
            <br>
            
            <p align="center" style="font-size:34px" face="Calibri" >
                PRINCIPALES PRODUCTOS
            </p>
            
            <br>
            <p align="center" style="font-size:25px" face="Calibri">
                BARRAS DE CHOCOLATE
            </p>
            <br>
            <br>
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>  
        
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        
            <div class="col-md-3 card-padding" style="float:left">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="abs-center">
                            <button  mat-button>Ver más</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
            
</div>

<br>
<br>

<style>




  
</style>
