header{
    background-color: #f48232;
}

  
.bg-cover {
    background-size: cover !important;
}

.backgroud{
    background-color: #f48232;
    font-size: 16px;
}

button{
  border:none;
}

header.small { height: 50px; }
header.small img{ width: 287px; height: 69px; margin-top: -10px; }
header.small li{ margin-top: 17px; }

header,nav, a, img, li{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}