
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--footer starts from here-->
<footer>
<div class="container bottom_border">
  <div class="row">
    <div class="">
      <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
      <!--headin5_amrc-->
      <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
      <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
      <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
    </div>
  </div>
</div>

<div class="container">
  <ul class="foote_bottom_ul_amrc">
    <li><a href="">Página principal</a></li>
    <li><a href="">Acerca de nosotros</a></li>
    <li><a href="">Preguntas y sugerencias</a></li>
    <li><a href="">Contactenos</a></li>
  </ul>
  <ul class="social_footer_ul">
    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    <li><a href=""><i class="fab fa-twitter"></i></a></li>
    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
  </ul>
  <!--social_footer_ul ends here-->
</div>

</footer>

